In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:\ineuron Datasets\FitBit data.csv")

In [3]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,04-08-2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,04-09-2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,04-10-2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,04-11-2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,04-12-2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [4]:
pd.to_datetime(df.ActivityDate)

0     2016-03-25
1     2016-03-26
2     2016-03-27
3     2016-03-28
4     2016-03-29
         ...
452   2016-04-08
453   2016-04-09
454   2016-04-10
455   2016-04-11
456   2016-04-12
Name: ActivityDate, Length: 457, dtype: datetime64[ns]

In [5]:
df.Id.unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

In [6]:
x=0
a = 10000
for i in df['TotalSteps']:
    if i>=a:
        x= x+1
print(x)

127

In [7]:
x=0
for i in df['LoggedActivitiesDistance']:
    if i == 0:
        x = x+1
print(x)

433

In [8]:
df['TotalDistance'].idxmin()

51

In [9]:
df['Calories'].gt(2200)

0      False
1      False
2      False
3      False
4      False
       ...
452     True
453     True
454     True
455     True
456    False
Name: Calories, Length: 457, dtype: bool

In [10]:
df['Id'].value_counts()

4020332650    32
4057192912    32
1624580081    19
1503960366    19
2347167796    15
4445114986    15
4702921684    15
6962181067    14
7007744171    12
2022484408    12
8792009665    12
2873212765    12
7086361926    12
8253242879    12
8378563200    12
2026352035    12
3977333714    12
5553957443    12
1844505072    12
8877689391    12
2320127002    12
4319703577    12
4558609924    12
1927972279    12
8053475328    11
5577150313    11
6117666160    10
1644430081    10
6290855005    10
3372868164    10
6391747486     9
6775888955     9
8583815059     8
2891001357     8
4388161847     8
Name: Id, dtype: int64

In [18]:
import mysql.connector
from mysql.connector import Error

E:\Anaconda\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.

In [19]:

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='task7',
                                         user='root',
                                         password='Darkmatter!1')

    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL Server version  8.0.29
You're connected to database:  ('task7',)
MySQL connection is closed

E:\Anaconda\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.

In [13]:
import csvkit as cs

In [20]:
!csvsql --db mysql://root:Darkmatter!1@localhost:3306/task7 --insert Fitbit_data.csv

E:\Anaconda\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
e:\anaconda\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
OperationalError: (MySQLdb.OperationalError) (1050, "Table 'fitbit_data' already exists")
[SQL:
CREATE TABLE `Fitbit_data` (
	`Id` DECIMAL(38, 0) NOT NULL,
	`ActivityDate` DATE NOT NULL,
	`TotalSteps` DECIMAL(38, 0) NOT NULL,
	`TotalDistance` DECIMAL(38, 9) NOT NULL,
	`TrackerDistance` DECIMAL(38, 9) NOT NULL,
	`LoggedActivitiesDistance` DECIMAL(38, 9) NOT NULL,
	`VeryActiveDistance` DECIMAL(38, 9) NOT NULL,
	`ModeratelyActiveDistance` DECIMAL(38, 9) NOT NULL,
	`LightActiveDistance` DECIMAL(38, 9) NOT NULL,
	`SedentaryActiveDistance` DECIMAL(38, 9) NOT NULL,
	`VeryActiveMinutes` DECIMAL(38, 0) NOT NULL,
	`FairlyActiveMinutes` DECIMAL(38, 0) NOT NULL,
	`LightlyActiveMinutes` DECIMAL(38, 0) NOT NULL,
	`SedentaryMinutes` DECIMAL(38, 0) NOT NULL,
	`Calories` DECIMAL(38, 0) NOT NULL
)

]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
E:\Anaconda\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
E:\Anaconda\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedReader name=5>
E:\Anaconda\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedReader name=6>